<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">خانه</a></li>
            <li class="breadcrumb-item"><a href="/auth/dashboard">پنل کاربری</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= bread %>
            </li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->