<main class="main">
    <%- include("../includes/breadCrumb") %>
        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
            style="background-image: url('/images/backgrounds/bg-03.jpg')">
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/login" aria-selected="false">ورود</a>
                            </li>
                        </ul>
                        <div>
                            <div class="tab-pane">
                                <form action="/auth/login" method="POST">
                                    <%- include("../includes/message") %>
                                        <%- include("../includes/loginError") %>
                                            <div class="form-group">
                                                <label for="singin-email-2">آدرس ایمیل *</label>
                                                <input type="text" class="form-control" id="singin-email-2"
                                                    name="email">
                                            </div><!-- End .form-group -->

                                            <div class="form-group">
                                                <label for="singin-password-2">رمز عبور *</label>
                                                <input type="password" class="form-control" id="singin-password-2"
                                                    name="password">
                                            </div><!-- End .form-group -->

                                            <div class="form-footer">
                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>ورود</span>
                                                    <i class="icon-long-arrow-left"></i>
                                                </button>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="remember"
                                                        id="signin-remember-2">
                                                    <label class="custom-control-label" for="signin-remember-2">مرا به
                                                        خاطر
                                                        بسپار</label>
                                                </div><!-- End .custom-checkbox -->

                                                <a href="#" class="forgot-link">رمز عبور خود را فراموش کرده اید؟</a>
                                            </div><!-- End .form-footer -->
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
</main><!-- End .main -->


